.box1 {
    display: flex;
    flex-direction: row;
}

.box3 {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.box4 {
    text-align: center;
}

.reserva {
    background-color: darkblue;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 6px;
    border-style: ridge;
    border-color: white;
}